canvas-turtle {
    position: relative;
    display: inline-block;
}

canvas-turtle * {
    /* Makes sure other CSS code doesn't screw up the canvas-turtle elements */
    all: initial;
}

canvas-turtle svg {
    position: absolute;
}